body {
  font-family: 'Poppins',
    sans-serif;
  margin: 0;
}

.flex-container {
  display: flex;
  margin-bottom: 150px;
}

.top-banner {
  background-image: url(/images/top-banner.png);
  background-repeat: no-repeat;
}

.half-width {
  width: 50%;
  padding-left: 2%;
}

.anchor-btn {
  padding: 10px 40px;
  color: white;
  background-image: linear-gradient(tomato, orange);
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
}

.half-width img {
  width: 80%;
}

h1 {
  font-size: 40px;
}

.orange-color {
  color: orange;
}


.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.box-shadow {
  box-shadow: 10px 10px 5px grey;
  width: 40%;
  margin-left: 5%;
  padding-left: 2%;
}

.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

.red {
  border-left: 6px solid;
  border-image: linear-gradient(red, rgb(220, 192, 92));
  border-image-slice: 1;
}

.blue {
  border-left: 6px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

footer p {
  text-align: center;
}